* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    background-color: white;
    text-align: center;
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 2.1rem;
}

.container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

a {
    color: black;
}

h2,
h3,
h4,
p {
    margin: 0;
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: #000;
}


.navbar p {
    display: inline-block;
    padding: 10px 10px;
    font-size: 1.1rem;
}

.main {
    padding-top: 35px;
    opacity: 0.9;
}

.mission {
    background-image: url("../images/mission-min.jpeg");
    background-size: cover;
    padding: 30px;
    color: white;
}

#portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.company span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

.team {
    /* background-image: url('https://soliv1.github.io/the-cotswolds-edge/images/AdobeStock_352482943_Preview.jpeg');*/
    background-image: url("../images/AdobeStock_352482943_Preview.jpeg");
    padding-top: 70px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teammate {
    padding: 10px;
    color: white;
    flex-basis: 280px;
    background-color: hsla(0, 0%, 35%, 0.84);
}

.teammate img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

.contact,
.copyright {
    padding-top: 20px;
}

.social-networks i {
    font-size: 160%;
    padding: 5px;
    color: #3a3a3a;
}
.social-networks a {
   text-decoration: none;

}